.main-body-faq{
    margin: 4rem;
    width:94%;
    // height: 30rem;

    h2{
       width: 100%;
       text-align: center;
    }

    .faq-section{
       display: flex;
       flex-direction: column;
    //    height: 30rem;
       color: aquamarine;
       font-size: 20px;
       font-family: 'Poppins';

    }
}